.header {
    height: 33.6vw;
    margin: 30px auto;
    background-size: contain;
    position: relative;
}

.Other-navigation .item {
    position: relative;
    width: 24%;
    justify-content: center;
    background: rgb(0, 74, 255);
    background: linear-gradient(90deg, rgba(0, 74, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: white;
    overflow: hidden; /* Đảm bảo phần tử cha không hiển thị overflow */
}

.Other-navigation .item::after {
    position: absolute;
    height: 100%;
    content: "";
    top: 0px;
    left: 0px;
    background: rgb(0,74,255);
    background: linear-gradient(270deg, rgba(0,74,255,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 8px;
    opacity: 0.2;
    width: 0; /* Đặt width ban đầu là 0 */
    transition: width 0.5s ease; /* Thêm transition cho hiệu ứng mượt mà */
}

.Other-navigation .item:hover::after {
    animation: left-to-right 1s forwards; /* Chạy animation khi hover */
}

/* Animation keyframe */
@keyframes left-to-right {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}



.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 5s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}

@media (max-width:1050px) {

    .header {
        height: 38vw;
    }

    .header-contents {
        max-width: 45%;
    }
}

@media (max-width:1050px) {
    .header-contents {
        max-width: 55%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}