
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Biến mã màu*/

:root {
  --primary-color: #3498db; /* Màu xanh dương cho primary */
  --secondary-color: #acdce9;
  --pastel-blue: #E3F4F8;
  --all-black: #282828;
  --golden: #f8a809;
  --thirdly-color:#519800;
  --red-color:#f22121;
  --utral-blue:#004aff;
}

/* Class mã màu text */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-pastel-blue {
  color: var(--pastel-blue);
}

.text-golden {
  color: var(--golden);
}

.text-all-black {
  color: var(--all-black);
}

.text-thirdly{
  color: var(--thirdly-color);
}

.text-red-color{
  color: var(--red-color);
}

.text-utra{
  color: var(--utral-blue);
}

/* Class mã màu background */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-pastel-blue {
  background-color: var(--pastel-blue);
}

.bg-golden {
  background-color: var(--golden);
}

.bg-all-black {
  background-color: var(--all-black);
}

.bg-thirdly{
  background-color: var(--thirdly-color);
}

.bg-red-color{
  background-color: var(--red-color);
}

.bg-ultra{
  background-color: var(--utral-blue);
}

/* Class về background gradient*/
.bg-gra-primary-pastel{
  background: rgb(52,152,219);
  background: linear-gradient(28deg, rgba(52,152,219,1) 0%, rgba(227,244,248,1) 100%);

}

.bg-grad{
  background: rgb(242,33,33);
background: linear-gradient(28deg, rgba(242,33,33,1) 0%, rgba(248,168,9,1) 100%);
}

.bg-grad-pastel-utra{
  background: rgb(172,220,233);
  background: linear-gradient(28deg, var(--primary-color) 0%, rgba(0,74,255,1) 100%);
  
}

.bg-grad-thirdly-pastel{
  background: rgb(81,152,0);
background: linear-gradient(90deg, rgba(81,152,0,1) 0%, rgba(172,220,233,1) 100%);
}

.bg-grad-ultra-thirdly{
  background: rgb(0,74,255);
background: linear-gradient(28deg, rgba(0,74,255,1) 0%, rgba(81,152,0,1) 100%);

}

.bg-grad-utral-green{


}

.bg-grad-ver2{
  background: #6bccec  ;

}

.bg-grad-secondary-utra{
  background: rgb(0,74,255);
background: linear-gradient(90deg, rgba(0,74,255,1) 0%, rgba(172,220,233,1) 100%);
}

/*Class về hình*/
.triangle{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #4CAF50; /* Màu của tam giác */
}


/* Class về độ rộng responsive */
.wrapper{
  width: 80%;
}

.small-wrapper{
  width: 30%;
}

/*Class điều chỉnh cho position*/
.translateY--50per{
  transform: translateY(-50%);
}

.translateX--50per{
  transform: translateX(-50%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  scrollbar-width: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.clip-circle {
  @apply w-32 h-32;
  clip-path: circle(50%);
}


/**/
.shadow-fight{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}